.btn{
    padding: 8px 20px;
    font-weight: bold;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    background-color: #545454;
    color: white;
    }
.btn:hover{
transform: scale(1.1);
transition: 0.5s;
}
table tr th{
border: 1px solid;
background-color: #545454;
color: white;
padding: 15px;
}
table tr td{
border:1px solid;
padding: 15px;
}